@mixin textBox() {
  color: $cWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  .boxContent {
    width: 80%;
    h2 {
      font-size: 6.4rem;
      font-weight: 300;
      margin: 0;
    }
    .subTitle {
      font-size: 2.4rem;
      font-style: italic;
      font-weight: 500;
      margin: 0;
    }
    .btnGhost {
      margin-bottom: 10px;
    }
  }
}
@mixin circleBefore() {
  background-color: $cInput;
  border-radius: 50%;
  cursor: pointer;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
  content: "";
  display: block;
}
@mixin circleAfter() {
  background-color: $cBlue;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  content: "";
  display: block;
}
@mixin boxBefore() {
  background-color: $cInput;
  cursor: pointer;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
  content: "";
  display: block;
}
@mixin boxAfter() {
  background-color: $cBlue;
  cursor: pointer;
  height: 20px;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  content: "";
  display: block;
}
@mixin transition(){
  .pictures{
    overflow: hidden;
  }
  .pictures img{
    transition: all 0.3s;
  }
  .pictures:hover img{
    transform: scale(1.2); 
  }
}